/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	margin: 0px;
	padding: 0px;
}
.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 1%; 
	align-items: center;
}

.col-20 {
  flex-basis: 20%;
  text-align: right;
  color: grey;
 }

 .col-75 {
 	flex-basis: 75%;
 }

 .col-5 {
 	flex-basis: 3%;
 	text-align: center;
 }

 .new_user .col-75 > input {
 	width: 50%;
 }

#user_email, #user_password {
	width: 25%;
}

 .error_form,  .fa-exclamation { 
 	color: red; 
}

.fa-check { 
	color: grey; 
}

.block_form {
	width: 75%;
	margin-left: 5%;
}

.error_form {
	margin-left: 1%;
}

#submit{ 
	margin-top: 1%;
	width: 130px;
  height: 25px;
  margin-left: 23%;
}